.container {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  padding: 64px 0 64px 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px 10vw 32px 10vw;
  border-top-right-radius: 50% 50px;
  border-top-left-radius: 50% 50px;
  background-color: #fffcf6;
}

.box h2 {
  text-align: center;
}

.article {
  text-align: center;
  padding: 64px 18vw;
  margin-bottom: 32px;
  border-radius: 25px;
  background-color: #f5f7f5;
}



button {
  width: 218px;
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  background-color: #f7f0e6;
  color: #153d61;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #cbc5b6;
  color: #fff;
  opacity: .8;
}