.home-nav {
    background-color: #f7f0e6;
    /* background-color: lightsalmon; */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    z-index: 999;
}

.logo {
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
}
  
.nav-bar ul li {
    position: relative;
    height: 4rem;
    line-height: 4rem;
    margin-left: 1.25rem;
}
  
.nav-bar ul li:hover {
    border-bottom: 0.3125rem solid #153d61;
}
  
.nav-bar img {
    display: none;
    position: absolute;
    max-width: 9.375rem;
    border-radius: 0.3125rem;
    top: 4.375rem;
    left: -5.9375rem;
}
  
.nav-bar li:nth-child(5):hover img {
    display: block;
}

@media (max-width: 768px) {
    .nav-bar a {
        font-size: 1rem;
    }

    .nav-bar ul li {
        margin-left: 1rem;
    }
}