@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 140px;
}

body {
  font-family: 'Muli', sans-serif;
  color: #153d61;
  background-color: #f7f0e6;
  min-width: 1000px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

li {
  list-style: none;
}
  
a {
  text-decoration: none;
  color: #153d61;
  font-weight: 600;
}